.container1 {
    display: grid;
    grid-template-columns: 50px 50px;
    row-gap: 5px;
    column-gap: 5px;
    padding: 20px;
}

.box1 {
    background-color: lightblue;
    color: black;
    text-align: center;
    height: 50px;
}

.container2 {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    row-gap: 5px;
    column-gap: 5px;
    padding: 10px;
    bottom: 290px;
    margin-left: 130px;
    position: absolute;
}

.box2 {
    background-color: pink;
    color: black;
    text-align: center;
    height: 50px;
}

.container3 {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    row-gap: 5px;
    column-gap: 5px;
    margin-left: 560px;
    position: absolute;
    top: -20px;
}

.box3 {
    background-color: orange;
    color: black;
    text-align: center;
    padding: 20px;
    height: auto;
}